/* -------------------------------------- event Bubbling and event Capturing */
.capturingBubbling {
    background-color: lavender;
}
.bubbling, .capturing, .stopBubbling {
    display: inline-block;
    margin-left: 60px;
}
.eventBubbling, .eventCapturing, .stopEventBubbling {
    width: 175px;
    margin: 20px;
    padding: 5px;
    border: 3px solid blue;
    background-color: aqua;
}
.eventCapturing {
    border: 3px solid green;
    background-color: palegreen
}
.stopEventBubbling {
    border: 3px solid peru;
    background-color: gold;
}
/* -------------------------------------- */
#indexeddbGetUser * {
    padding: 20px;
    text-align: center;
}
#indexeddbGetUser tr th {
    background-color: darkgreen;
    color: lightgreen;
}
#indexeddbGetUser tr:nth-child(even) {
    background-color: lightgreen;
}
#indexeddbGetUser tr:nth-child(odd) {
    background-color: aquamarine;
}
#indexeddbGetUser button {
    padding: 5px;
    background-color: inherit;
}